<div class="container">
  <div class="row">
    <div class="col">
      <img src="./src/qr_link_to_telegram_bot.png"/>
      find me: @nctelegrambot
    </div>
    <div class="col">
      welcome to nc telegram bot configurer
    </div>
    <div class="col">
      for configuration, please sign in or sign up as nc edu center user
    </div>
  </div>
  <div class="row">
    <div class="col container-fluid" style="text-align: center">
      <button class="btn btn-primary" (click)="onClickTurnBtn()">{{checkBotActivity()}}</button>
    </div>
  </div>
</div>
