<div class="container-fluid">
  <button class="btn-primary" (click)="addNewScoreRange()">new score range</button>
  <div class="row" *ngFor="let scoreRange of this.scoreRanges; let i = index">
    <div class="col">
      <div class="form-group">
        <label>max range</label>
        <input [(ngModel)]="scoreRange.max" type="number"/>
        <input [(ngModel)]="scoreRange.text" type="text"/>
        <input (change)="changeImageFile($event)" type="file"/>
      </div>
    </div>
    <button (click)="scoreRangeResultSend(scoreRange)" class="btn-dark">ok</button>
  </div>
</div>
