<div>
  <button type="button" (click)="openCreationNewQuestionForm()" class="btn btn-primary btn-lg btn-block"
          style="margin: 20px 0 20px 0">add new question
  </button>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>
        №
      </th>
      <th>
        content
      </th>
      <th>
        options
      </th>
      <th>
        answer
      </th>
      <th>
        actions
      </th>
    </tr>
    </thead>
    <tbody *ngFor="let question of questions; let i = index">
    <tr id="'tr__' + {{i}}">
      <td>
        {{i}}
      </td>
      <td>
        {{question.content}}
      </td>
      <td>
        <ul *ngFor="let option of question.options">
          <li>
            {{option.content}}
          </li>
        </ul>
      </td>
      <td>
        {{question.answer}}
      </td>
      <td>
        <div class="container">
          <div class="row" style="text-align: center">
            <div class="col">
              <button class="btn btn-primary" (click)="editQuestion(question)">edit</button>
            </div>
            <div class="col">
              <button class="btn btn-danger" (click)="deleteQuestion(question.id)">delete</button>
            </div>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
